<div class="max-w-7xl mx-auto">
    <h1 class="text-8xl font-black text-center">{{ title }}</h1>
        {{ collection:blog paginate="4" as="posts" }}
            <div class="grid grid-flow-row grid-cols-2 gap-8 mt-16">
                {{ posts }}
                    {{ partial:blog/card }}
                {{ /posts }}
            </div>
            {{ paginate }}
                <div class="flex items-center justify-center space-x-8 my-16">
                    <a href="{{ prev_page }}">&laquo; Previous</a>
                    <a href="{{ next_page }}">Next &raquo</a>
                </div>
            {{ /paginate }}
        {{ /collection:blog }}
</div>
