<div class="max-w-2xl mx-auto">
    <h1 class="text-6xl font-black leading-none text-left">{{ title }}</h1>
    <img src="{{ featured_image }}" alt="{{ featured_image:alt }}" class="my-12">
    <div class="flex items-center my-16">
        <img src="{{ author:avatar }}" alt="" class="h-12 w-12 rounded-full" />
        <div class="leading-tight ml-3">
            <p class="font-bold">{{ author:name }}</p>
            <div class="text-sm text-gray-600">{{ date }}</div>
        </div>
    </div>

    <article class="space-y-12 mb-12 content max-w-2xl mx-auto">
        {{ blog_content }}
    </article>
    {{ if related_posts }}
    <aside class="border-t-8 border-black my-24 py-8 max-w-2xl mx-auto">
        <h3 class="text-2xl font-black">Related Posts</h3>
        <div class="grid grid-flow-row grid-cols-2 gap-8 mt-16">
            {{ related_posts }}
                {{ partial:blog/card hide_image="true" }}
            {{ /related_posts }}
        </div>
    </aside>
    {{ /if }}
</div>
